.container-fluid{
    margin: 0 auto;
    padding: 0;
}
.jumbotron{
    background-color: #CFD8DC;
    border-radius: 0;
    text-align: center;
    padding: 30px;
}
.jumbotron .lead{
    font-size: 17px;
    margin-left: 190px;
}
.row .card{
    margin: 0 !important;
    background-color: rgba(218, 27, 27, 0.80);
    color: white;
    border-radius: 0;
    border: 1px solid black;
}
.card-title{
    font-size: 23px;
}
.card-text{
    font-size: 12px;
}
