.container-fluid{
    margin: 0 auto;
    padding: 0;
}
.jumbotron{
    /* background-color: #CFD8DC; */
    border-radius: 0;
    color: black;
    text-align: center;
    padding: 30px;
}
.jumbotron h1{
    font-size: 60px;
}
.jumbotron .lead{
    font-size: 16px;
    margin-left: 190px;
}
.row{
    box-shadow: 0px 1px 5px rgba(0,0,0,.26);
}
.row .card{
    margin: 0 !important;
    background-color: rgba(218, 27, 27, 0.80);
    color: white;
    border-radius: 0;
    border: 1px solid black;
}
.card-title{
    font-size: 25px;
}
.card-text{
    font-size: 15px;
}
